<div>
    <span (click)="zoomInClick()" class="esri-icon esri-icon-zoom-in-magnifying-glass"></span>
    <span (click)="zoomOutClick()" class="esri-icon esri-icon-zoom-out-magnifying-glass"></span>
    <span (click)="panMapClick()" class="esri-icon esri-icon-pan"></span>
    <span (click)="fullExtentClick()" class="esri-icon esri-icon-public" ></span>
    <span (click)="prevExtent()" class="esri-icon esri-icon-left-arrow-circled"></span>
    <span (click)="nextExtent()" class="esri-icon esri-icon-right-arrow-circled"></span>
  </div>